@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background: #fafacc;
 color: #9F8170;
 overflow-x: hidden;
}

/* Navbar */
.container-nav{
 max-width: 1200px;
 padding: 1rem 0;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo{
 font-size: 2rem;
 padding: 0 1rem;
}
.pages{
 list-style-type: none;
 display: flex;
 padding: 0 1rem;
 gap: 5rem;
}
.pages li a{
 text-decoration: none;
 font-size: 1.5rem;
 color: #92441d;
}
.pages li a:hover{
 border-bottom: 3px solid #9F8170;
}
.primary-nav{
  display: flex;
  list-style: none;
  gap: 20px;
}
.span{
  display: none;
  cursor: pointer;
}

@media  screen and (max-width: 500px) {
  .primary-nav{
    position: fixed;
    z-index: 1;
    inset:0 0 0 70px;
    background-color: slategrey;
    flex-direction: column;
    background: hsl(0 0% 100% / 0.1);
    padding: 20px 0 0 70px;
    backdrop-filter: blur(2rem);
    transform: translateX(100%);  
    transition: transform 350ms ease-out;
  }

  .primary-nav a{
    color: white;
    font-size: 20px;
  }
  .primary-nav[data-visible = 'true']{
    transform: translateX(0%);  
  }
  .span{
    display: block;
    cursor: pointer;
    z-index: 2;
  } 
}


/* Main */
main{
 max-width: 1500px;
}
#hero-image{
  width: 100%; 
  /* background-image:
  linear-gradient(to top, rgba(63, 63, 63, 0.969), rgba(136, 94, 4, 0.551)),
    url("./images/coffee-maker.jpeg" ); */
  height: 900px;
  background-size: cover;
   position: relative;
  overflow: hidden;
  background-position: center;
}
#hero-text{
 font-family: 'Dancing Script', cursive;
 color: wheat;
 font-size: 8rem;
 width: 80%;
 text-align: center;
 margin:7rem auto;
 font-weight: 200;
 position: relative;
 left: -100%;
 animation: slide-in-animation 1.5s forwards;
}
@keyframes slide-in-animation {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
 }
.cards{
 display: flex;
 gap: 2rem;
 padding: 2rem;
}
h2{
 margin-bottom:  10px;
 text-align: center;
 color: #92441d;
}
.card{
 width: 33.333%;
 padding:2rem 0;
 min-height: 10rem;
 border-radius: 5px;
 box-shadow: 1px 3px 8px 0px rgba(148,148,148,0.75);
 transition: 1.5s;
}
.card:hover{
 transform: translate(10px,10px);
 box-shadow: 1px 3px 8px 0px rgba(40, 40, 40, 0.73);
 cursor: pointer;
}
p{
 width: 90%;
 margin: 0 auto;
 text-align: center;
 font-size: 1.2rem;
 line-height: 1.4;
}


/* Footer */
.footer-links{
 display: flex;
 padding: 1.5rem 0;
 justify-content: center;
 list-style-type: none;
 gap: 2rem;
 clear: both;
}
.footer-links li  a{
 text-decoration: none;
}


/*  About */
.about-image{
 border-radius: 9px;
 width: 100%;
}
#container-about{
 min-height: 1000px;
 padding: 1rem;
}
#first-grid{
   display: grid;
 grid-template-columns: 2.5fr 5fr;
}
#second-grid{
   display: grid;
 grid-template-columns: 4fr 3fr;
 margin-top: 2rem;
}
#container-about span{
 color: #92441d;
}
.about-container .heading{
  color: #9F8170;
  margin: 2rem 0 ;
}
.about-text{
 padding: 0px 10px 0;
 margin-right: 100px;
 text-align: center;
 margin: 5px auto;
}
.lower-text{
  line-height: 1.6;
  margin: 2rem auto;
}

/* Order */
.brew{
 display: grid;
 grid-template-columns: repeat(2,1fr);
}


/* MEDIA QUERIES */

/* smaller phones */

@media screen and (max-width:480px) {
 main{
 max-width: 450px;
 margin: 0 auto;
}
#hero-text{
 font-size: 5rem;
 width: 60%;
 text-align: center;
 margin:9rem auto;
}
.cards{
 display: grid;
 grid-template-columns: repeat(1,1fr);
 gap: 2rem;
 padding: 2rem;
}
.card{
 width: 100%;
}
/* about */
#first-grid,#second-grid{
  display: grid;
  /* gap: 5px; */
 grid-template-columns: 1fr;
}
}

/* tablets and larger phones */
@media screen and (min-width:481px) and (max-width:768px){
  main{
 max-width: 768px;
 margin: 0 auto;
}
#hero-text{
 font-size: 5rem;
 width: 70%;
 text-align: center;
 margin:7rem auto;
}
.cards{
 display: grid;
 grid-template-columns: repeat(1,1fr);
 gap: 2rem;
 padding: 2rem;
}
.card{
 width: 100%;
}
/* about */
#first-grid,#second-grid{
  display: grid;
 grid-template-columns: 1fr;
}
}

/*larger phones */
@media screen and (min-width:769px) and (max-width:1100px){
  main{
 max-width: 1100px;
 margin: 0 auto;
}
#hero-text{
 font-size: 5rem;
 width: 70%;
 text-align: center;
 margin:11rem auto;
}
.cards{
 display: grid;
 grid-template-columns: repeat(1,1fr);
 gap: 2rem;
 padding: 2rem;
}
.card{
 width: 100%;
 font-size: 2rem;
}
p{
 width: 90%;
 margin: 0 auto;
 text-align: center;
 font-size: 1.7rem;
 line-height: 1.4;
}
/* about */
#first-grid,#second-grid{
  display: grid;
 grid-template-columns: 1fr;
}
.about-container .heading{
  color: #9F8170;
  margin: 2rem 0;
  font-size: 2.2rem;
}
}
